{#
/**
 * @file commerce_refund.html.twig
 * Default theme implementation to present Refund data.
 *
 * This template is used when viewing Refund pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_commerce_refund()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('commerce_refund') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
